*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Merriweather', serif;
	background-origin: #141414;
	background-color: #141414;
	/*background-image: ;
	height: 100vh;
	background-size: cover;
	background-position: center;*/
	
}

.navbar{
	display: flex;
	align-items: center;
	padding: 15px;
}

nav{
	flex: 1;
	text-align: right;
}


nav ul{
	display: inline-block;
	list-style-type: none;
}

nav ul li{
	display: inline-block;
	margin-right: 20px;
}

a{
	text-decoration: none;
	color: #fff;
}

p{
	color: #fff;
}

.message{

	position: sticky;
	top:0; left:0;
	z-index: 10000;
	border-radius: .5rem;
	background: #fff;
	padding: .5rem 4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap:1.5rem;
 }
 
 .message span{
	font-size: 1.5rem;
	color:var(--black);
 }
 
 .message i{
	font-size: 2.5rem;
	cursor: pointer;
 }
 
 .message i:hover{
	color:var(--red);
 }


.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.column{
	flex-basis: 50%;
	min-width: 300px;
}

.column img{
	max-width: 80%;
	padding: 50px 0;

}

.column h1{
	font-size: 50px;
	color: #fff;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #fe6500;
	color: #fff;
	padding: 8px 30px;
	margin: 3px 0;
	border-radius: 30px;
	transition: background 0.5s;
}

.btn:hover{
	background: #563434;
}

.header{
	background-color: #141414;
	background-image: url(../src/bg4.jfif);
	background-size: cover;
	background-position: center;
}

.container .content h3{
	font-size: 30px;
	color:blue;
}

.header .row{
	margin-top: 5px;
}

.categories{
	margin: 70px 0;
}

.column2{
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
}

.column2 img{
	width: 100%;
}


.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	color: #fff;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
}

.title::after{
	content: '';
	background: #fe6500;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}


.column3{
	flex-basis: 25%;
	padding: 10px;
	min-width: 22px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.column3:hover{
	transform: translateY(-5px);
}

.column3 img{
	width: 200px;
	height: 200px;
}

h4{
	font-weight: normal;
}

.column3 p{
	font-size: 16px;
}

.rating .fa{
	color: #fe6500;
}

/*---------------- OFFER --------------*/

.offer{
	
	/*background-image: url(../src/BG2.jpg);*/
	margin-top: 80px;
	padding: 30px 0;
}

.column .offer-img{
	padding: 50px;
}

/*---------------- REVIEWS --------------*/

.reviews{
	padding-top: 100px;
}

.reviews .column2{
	text-align: center;
	background-color: rgb(49, 49, 49);
	padding: 40px 20px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: transform 0.5s;
}


.reviews .column2 img{
	width: 100px;
	margin-top: 20px;
	border-radius: 50%;
}

.reviews .column2:hover{
	transform: translateY(-10px);
}

.fa.fa-quote-left{
	font-size: 30px;
	color: #fff;
}

.column3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #fff;
}

.reviews .column2 h3{
	font-weight: 600;
	color: #fff;
	font-size: 16px;
}


/*----------------- FOOTER --------------- */

.footer{
	background: #141414;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}

.footer p{
	color: #8a8a8a;
}

.footer h3{
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;

}

.footer-col-2{
	flex: 1;
	text-align: center;
	
}

.footer-col-2 img{
	width: 135px;
	margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
	flex-basis: 12%;
	text-align: center;
}


ul{
	list-style-type: none;
}

.logofooter{
	margin-top: 20px;
}

.logofooter img{
	width: 140px;
}


.footer hr{
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright{
	text-align: center;
}

.menu-icon{
	width: 28px;
	margin-left: 20px;
	display: none;	
}

/*----------- PRODCUT PAGE CSS -------------------*/
.row-2{
	justify-content: space-between;
	margin: 0 auto 10px;
}

select{
	border: 1px solid #fe6500;
	padding: 5px;
}

select:focus{
	outline: none;
}

.page-btn{
	margin: 0 auto 80px;
}

.page-btn span{
	display: inline-block;
	border: 1px solid #fe6500;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover{
	background: #fe6500;
	color: #fff;
}


/*-------------- SINGLE PRODUCT DETAILS---------------*/

.single-product{
	margin-top: 80px;
}
.single-product .column img{
	padding: 0;

}
.single-product .column{
	padding: 20px;
}
.single-product h4{
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}
.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
	
}
.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #fe6500;
}
input:focus{
	outline: none;
}

.single-product .fa{
	color: #fe6500;
	margin-left: 10px;
}

.small-img-row{
	display: flex;
	justify-content: space-between;
}
.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}

/*------------ CART ITEMS ----------------- */

.cart-page{
	
	margin-top: 20px;
	margin-left: 10px;
}
table{
	width: 112%;
	border-collapse: collapse;
}
.cart-info{
	display: flex;
	flex-wrap: wrap;
}


th{
	text-align: left;
	font-size: 24px;
	padding: 5px;
	color: #fff;
	background: #fe6500;
	font-weight: normal;
}

td{
	padding: 10px 5px;
	color: #fff;
	font-size: 20px;
}
td input{
	width: 40px;
	height: 30px;
	padding: 5px;
}
td a{
	color: #fe6500;
	font-size: 20px;
}

td img{
	width: 110px;
	height: 80px;
	margin-left: 5px;
}

td:last-child{
	text-align: right;
}
th:last-child{
	text-align: right;
}
.total-price{
	display: flex;
	justify-content: flex-end;
}

.total-price table{
	border-top: 3px solid #fe6500;
	width: 100%;
	max-width: 400px;
}

.small-container table .table-bottom {
    background-color: #333;
}

/*----------------- ACCOUNT PAGE ---------------- */


.account-page{
	padding: 50px 0;
	
}
.form-container{
	background: #fff;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	
}
.form-container span{
	font-weight: bold;
	padding: 0 10px;
	color: #555;
	cursor: pointer;
	width: 100px;
	display: flex;
	text-align: center;
}
.form-btn{
	display: flex;
}
.form-container form{
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 130px;
	transition: transform 1s;
	text-align: center;
}
form input{
	width: 100px;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
	display: flex;
	text-align: center;
}
form .btn{
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

form .btn:focus{
	outline: none;
}

form a{
	font-size: 12px;
}

.checkout{
	padding: 16px 14px;
    background: #333;
    width: 112%;
    border-radius: 20px;
    font-size: 1.2rem;
    margin-bottom: 10px;
}


.shopping-cart .checkout-btn a.disabled{
	pointer-events: none;
	opacity: .5;
	user-select: none;
	background-color: var(--red);
 }



/* ------------- ORDER RECEIPT ----------------- */
.display-order{
	max-width: 50rem;
	background-color: var(--white);
	border-radius: .5rem;
	text-align: center;
	padding:1.5rem;
	margin:0 auto;
	margin-bottom: 2rem;
	box-shadow: var(--box-shadow);
	border:var(--border);
 }
 
 .display-order span{
	display: inline-block;
	border-radius: .5rem;
	background-color: var(--bg-color);
	padding:.5rem 1.5rem;
	font-size: 2rem;
	color:var(--black);
	margin:.5rem;
 }
 
 .display-order span.grand-total{
	width: 100%;
	background-color: var(--red);
	color:var(--white);
	padding:1rem;
	margin-top: 1rem;
 }


.order-message-container{
	position: fixed;
	top:0; left:0;
	height: 100vh;
	overflow-y: scroll;
	overflow-x: hidden;
	padding:2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1100;
	background-color: #333;
	width: 100%;
 }
 
 .order-message-container::-webkit-scrollbar{
	width: 1rem;
 }
 
 .order-message-container::-webkit-scrollbar-track{
	background-color: #333;
 }
 
 .order-message-container::-webkit-scrollbar-thumb{
	background-color: gray;
 }
 
 .order-message-container .message-container{
	margin-top: 20px;
	width: 40rem;
	background-color: white;
	border-radius: .5rem;
	padding:2rem;
	text-align: center;
 }
 
 .order-message-container .message-container h3{
	font-size: 2.5rem;
	color:black;
 }
 
 .order-message-container .message-container .order-detail{
	background-color: white;
	border-radius: .5rem;
	padding:1rem;
	margin:1rem 0;
 }
 
 .order-message-container .message-container .order-detail span{
	background-color: white;
	border-radius: .5rem;
	color:black;
	font-size: 1.5rem;
	display: inline-block;
	padding:1rem 1.5rem;
	margin:1rem;
 }
 
 .order-message-container .message-container .order-detail span.total{
	display: block;
	background: red;
	color:white;
 }
 
 .order-message-container .message-container .customer-details{
	margin:1.5rem 0;
 }
 
 .order-message-container .message-container .customer-details p{
	padding:1rem 0;
	font-size: 20px;
	color:black;
 }
 
 .order-message-container .message-container .customer-details p span{
	color:blue;
	padding:0 .5rem;
	text-transform: none;
 }








/* ----------- MEDIA QUERIES ------------- */
@media only screen and (max-width: 600px){
	.row{
		text-align: center;
	}
	.column, .column2, .column3{
		flex-basis: 100%;
	}
	.single-product .row{
		text-align: center;
	}
	.single-product .column{
		padding: 20px 0;
	}
	.single-product h1{
		font-size: 26px;
		line-height: 32px;
	}

	.cart-info p{
		display: none;
	}
}